/ CORE PLUGINS
script src=static_path(@conn,"/admin/global/plugins/jquery.min.js") type="text/javascript"
script src=static_path(@conn,"/admin/global/plugins/bootstrap/js/bootstrap.min.js") type="text/javascript"
script src=static_path(@conn,"/admin/global/plugins/js.cookie.min.js") type="text/javascript"
script src=static_path(@conn,"/admin/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js") type="text/javascript"
script src=static_path(@conn,"/admin/global/plugins/jquery.blockui.min.js") type="text/javascript"
script src=static_path(@conn,"/admin/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js") type="text/javascript"
/ PAGE LEVEL PLUGINS
script src=static_path(@conn,"/admin/global/scripts/datatable.js") type="text/javascript"
script src=static_path(@conn,"/admin/global/plugins/datatables/datatables.min.js") type="text/javascript"
script src=static_path(@conn,"/admin/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js") type="text/javascript"
script src=static_path(@conn,"/admin/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") type="text/javascript"
/ THEME GLOBAL SCRIPTS
script src=static_path(@conn,"/admin/global/scripts/app.min.js") type="text/javascript"
/ PAGE LEVEL SCRIPTS
script src=static_path(@conn,"/admin/pages/scripts/table-datatables-ajax.min.js") type="text/javascript"
/ THEME LAYOUT SCRIPTS
script src=static_path(@conn,"/admin/layouts/layout/scripts/layout.min.js") type="text/javascript"
script src=static_path(@conn,"/admin/layouts/layout/scripts/demo.min.js") type="text/javascript"
script src=static_path(@conn,"/admin/layouts/global/scripts/quick-sidebar.min.js") type="text/javascript"
script src=static_path(@conn,"/admin/layouts/global/scripts/quick-nav.min.js") type="text/javascript"


script src=static_path(@conn,"/js/app.js")
