use Mix.Config

config :arc,
  storage: Arc.Storage.S3,
  bucket: "bucket-name",
  asset_host: "https://s3.eu-central-1.amazonaws.com/bucket-name"

config :ex_aws,
  access_key_id: ["key-id", :instance_role],
  secret_access_key: ["secret-key", :instance_role],
  s3: [
    scheme: "https://",
    host: "s3.eu-central-1.amazonaws.com",
    region: "eu-central-1"
  ]
