<h2>Show Recipe</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @recipe.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @recipe.description %>
  </li>

</ul>

<span><%= link "Edit", to: recipe_path(@conn, :edit, @recipe) %></span>
<span><%= link "Back", to: recipe_path(@conn, :index) %></span>
